<div id="welcome-container" class="bg-image-container">
	<div class="text-center">Welcome to Library Management System</div>
	<a class="btn mb-3" href="/auth/student-login">Student Login</a>
	<a class="btn" href="/auth/admin-login">Admin Login</a>
</div>