@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root
{
	--theme-color: #3b5998;		/* Other theme-color options: #1a936f, #ec6464 */
}


*
{
	font-family: 'Nunito', sans-serif;
}


body
{
	min-height: 100vh;
	background-color: #e8e8ec;
	overflow-x: hidden;
}

header
{
	color: white;
	background-color: var(--theme-color);
	font-size: 20px;
	height: 45px;
}

.color-theme
{
	color: var(--theme-color);
}

.bg-image-container
{
	min-height: calc(100vh - 45px);
	background: url("/assets/images/library.jpg") no-repeat center;
	background-size: cover;
}

#welcome-container
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

#welcome-container div
{
	color: white;
	font-size: 40px;
}


.form-container
{
	width: 500px;
	max-width: 100vw;
	box-shadow: 2px 2px 4px rgb(0 0 0 / 13%), -2px 2px 4px rgb(0 0 0 / 11%);
}


.btn
{
	padding: 6px 15px;
	font-size: 18px;
	color: white;
	background-color: var(--theme-color);
	border: 2px solid var(--theme-color);
	border-radius: 4px;
	transition: 0.3s;
}

.btn:hover
{
	color: var(--theme-color);
	background: linear-gradient(0deg, #d7d7d7, #f9f2f2);
	font-weight: bold;
}

.btn-cancel { background-color: #ffc107; border: 2px solid #ffc107; }
.btn-cancel:hover { color: black; }

.form-title
{
	padding: 10px;
}

input.form-control, textarea.form-control
{
	border: 1px solid #ddd9d9;
	background-color: #fcfcfc;
	box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 12%), 0px 1.6px 3.6px rgb(0 0 0 / 12%);
}

input.form-control:hover, textarea.form-control:hover
{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0);
}

input.form-control:focus, textarea.form-control:focus
{
	transition: 0.3s;
	border: 1px solid var(--theme-color);
}


.text-issued
{ color: #1fa64e !important; }
.text-overdue
{ color: #e22a2a !important; }
.text-returned
{ color: #0000ff !important; }

.activity-item
{ color: #0000ff !important; }

.alerts-wrapper
{
	position: absolute;
	right: 0px;
	width: fit-content;
	font-weight: bold;
	animation: moveLeft 0.1s linear;
	z-index: 100;
}

.alerts-wrapper .alert-danger
{
	color: white;
	background-color: #e22a2a;
}
.alerts-wrapper .alert-success
{
	color: white;
	background-color: #1fa64e;
}


@keyframes moveLeft {
	from { right: -100px; }
	to { right: 0px; }
}


