<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
			
		<div class="bg-white mb-5 p-3 d-sm-flex align-items-center justify-content-between">
			<h5 class="m-0 fw-bold color-theme">Rules and Regulations</h5>
		</div>
		
		<ul class="m-4 p-5 lh-lg bg-white" style="font-size: 18px;">
			<li>Everyone is required to maintain silence in library.</li>
			<li>Students can directly search for the books and their availability using the website.</li>
			<li>A book will be issued against a student only after production of their authorized library cards.</li>
			<li>Students are requested to check their loans on the website from time to time.</li>
			<li>A student can keep a book for a maximum of 7 days after which the book has to be returned.</li>
			<li>Violation of rules and any act of misbehaviour to the library staff will lead to string disciplinary action.</li>
		</ul>
		
	</div>


</main>